.cards__content-author{
    width: 90%;
    margin: 18px auto 24px;
    font-family: Roboto Slab, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #B6BCBF;
   
}

@media screen and (min-width : 768px) and (max-width : 1023px){
    .cards__content-author{
        margin: 12px 16px 16px;
    }
}